@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>View your clients</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">

    <h1 class="jumbotron">Here are the clients</h1>

    @if (Model.Count == 0)
    {
      <p>There are no clients :(!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Client client in Model)
      {
      <li>
        To the Stylist for
        <a href='/stylist/@client.StylistId/client'>@client.Name</a><br>
        <a href='/client/@client.Id/Edit'>Edit Client</a>
      </li>


      }
    }
    </ul>

    <a href='/client/new'>Add a Client to the list</a><br>
    <a href='/Stylist'>Check out the list of Kaiju stylists</a><br>
    <a href='/'>Go Home</a>


    </html>
  </body>
