@using HairSalon.Models
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>View your clients</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    
    <h1>Here are the clients!</h1>

    @if (Model.Count == 0)
    {
      <p>There are no clients :(!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Client client in Model)
      {
        <li>@client.Name</li>
      }
    }
    </ul>

    <a href="/client/new">Add a new client to your list</a>

    </html>
  </body>
