@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>More Kaiju!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <h1>A Monster Appears...</h1>

    <form action="/Stylist/@Model.Id/Client" method="post">
      <label for="name">What is the name:</label>
      <input id="name" name="name" type="text"><br>
      <input id="stylistId" name="stylistId" type="hidden" value="@Model.Id">

      <button  type="submit">Submit</button>
    </form>

  </body>
</html>
