@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>List of Stylists</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1 class="jumbotron">Checkout The Special Powers!</h1>

    <ul>
    @if (Model.Count == 0)
    {
      <p>There are no Powers in your list yet :(!</p>
    }
    @if(Model.Count != 0)
    {

      @foreach (Specialty specialty in Model)
      {

        <li>@specialty.SpecialtyDescription</li>

      }

    }
    </ul>
    <a href='/'>Go Home</a><br>
    <a href='/Stylist/NewStylist'>Add a Kaiju Stylist.</a><br>
    <a href='/Specialty/NewSpecialty'>Add a new Power.</a>

    </html>
  </body>
