@using HairSalon.Models;


<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>More Kaiju!</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <h1 class="jumbotron">A New Power...</h1>

    <form action="/Specialty" method="post">

      <label for="specialtyDescription">What is the new power?</label>
      <input id="specialtyDescription" name="specialtyDescription" type="text"><br>

      <button class="btn-danger" type="submit">Submit</button>
    </form>
    <a href='/Stylist'>Back to the list of Kaiju stylists</a><br>
  </body>
</html>
